.slider {
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 60px;
    background-color: #ED96A4;
}

.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    flex: 1;
}

.slide-content img {
    max-width: 100%;
    height: auto;
    padding-left: 50px;
}

.text {
    margin-bottom: 10px;
    font-family: 'Recoleta', serif;
    font-size: 35px;
    text-align: left;
    line-height: 50px;
    color: #071F60;
}

.dots {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 14px;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #CB4D6A;
}


.imgbor img {
    background-color: #fff;
    padding: 20px;
}

.imgbor {
    text-align: center;
}

:root {
    --font-body-alt: 'Libre Baskerville', 'serif';
}

.imgbor p {
    background-color: #fff;
    color: #071F60 !important;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--font-body-alt);
}

.tesmall {
    max-width: 534px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60 !important;
    font-size: 15px;
    line-height: 23px;
}

.atrext {
    color: #071F60;
    text-decoration: underline;
}

.afletrext {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #071F60;
    gap: 3px;
}





.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 80%;
    left: 80%;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.dot {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
}

.dot.active {
    background-color: #CB4D6A;
}


.slide-leaving {
    transform: translateX(-100%);
    opacity: 0.5;

}

@media screen and (max-width:769px) {
    .slide-content {
        flex-direction: column !important;
        padding: 0px 50px;
    }

    .imgbor img {
        padding: 20px;
        width: 400px !important;
    }

    .imgbor {
        margin: 30px !important;
        width: 400px !important;
    }

    .dots {
        justify-content: center;
    }

    .flright {
        text-align: center !important;
    }

    .atrext {
        text-align: center !important;
    }

    .text {
        font-size: 23px;
    }

    .afletrext {
        text-align: center !important;
        gap: 0px;
    }

    .tesmall {
        max-width: 100% !important;
    }


    .slide-content img {
        max-width: 300px !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
    }

    .imgbor p {
        font-size: 25px !important;
        margin-left: 50px;
        margin-right: 50px;
    }

    .slide-content {
        gap: 10px !important;
    }
}

.flright {
    text-align: left;
}













/* Submain css */


.lefthco3 h3 {
    font-size: 35px !important;
    margin-bottom: 10px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.lefthco3 p {
    font-size: 15px !important;
    line-height: 23px;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60;
}

.lefthco3 ul {
    padding-top: 30px;
}

.lefthco3 ul li {
    margin-bottom: 15px;
    padding-left: 35px;
    text-align: left;
    align-items: center;
    font-size: 15px !important;
    line-height: 23px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60;
}


.hmon {
    padding-top: 50px;
}

.hmon a {
    padding: 10px 28px;
    transition: all .5s;
    background-color: #071F60;
    border: 1px solid #071F60;
    border-width: 1px;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', 'sans-serif' !important;
    font-size: 18px;
}

.hmon a:hover {
    color: #071F60;
    background-color: #fff;
    border: 1px solid #071F60;
    border-width: 1px;
    transition: all .5s;
}

.check-list {
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    margin: 0;
}

.check-list li {
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.check-list li::before {
    content: '\2714';
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: #FFE0A5;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    border-radius: 50%;
}

.backarou {
    background-image: url(./Assests/quizdes.png);
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 16px;
}

.baccolor {
    background-color: #ffffff;
    color: #071f60;
    max-width: 531px;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.baccolor h3 {
    font-size: 35px;
    line-height: 50px;
    font-family: 'Recoleta', serif;
    color: #071f60;
    margin-bottom: 10px;
}

.baccolor p {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px !important;
    line-height: 23px;
    text-align: center;
    color: #071f60;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.hm {
    padding-top: 30px;
}

.hm a {
    padding: 10px 28px;
    transition: all .5s;
    background-color: #071F60;
    border: 1px solid #071F60;
    border-width: 1px;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', 'sans-serif' !important;
    font-size: 18px;
}

.hm a:hover {
    color: #071F60;
    background-color: #fff;
    border: 1px solid #071F60;
    border-width: 1px;
    transition: all .5s;
}

@media screen and (max-width:768px) {
    .baccolor p {
        font-size: 15px !important;
    }

    .baccolor h3 {
        font-size: 28px !important;
    }

    .displflex {
        flex-direction: column !important;
    }

    .lefthco3 {
        text-align: center !important;
    }

    .lefthco3 ul li {
        padding-left: 35px !important;
    }

    .check-list li {
        margin-left: 30px !important;
    }

    .imgchoot img {
        max-width: 210px;
    }
}

.displflex {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 150px;
    padding: 45px 15px;
}

.imgchoot img {
    max-width: 310px;
    text-align: left;
}