.bane {
    background-image: url(./Assests/KM28_Banner_Image_.webp);
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 29px;
    width: 100% !important;
}

.colname {
    color: #fff;
    font-family: 'Recoleta', serif;
}

.colname p {
    font-size: 18px;
    line-height: 23px;
    font-family: 'Recoleta', serif;
}

.colname h1 {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 60px;
}

.colname h3 {
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 50px;
    display: none;
}

@media screen and (max-width: 991px) {
    .colname h3 {
        display: block !important;
    }

    .bord {
        text-align: center;
        padding-left: 15px !important;

        padding-top: 40px !important;
    }

    .colname h1 {
        display: none;
    }

    .bane {
        background-image: url(./Assests/baner2.webp) !important;
        height: 450px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100% !important;
        padding-top: 29px !important;
    }

}


.bord {
    max-width: 600px;
    padding-left: 150px;
    padding-right: 15px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 31px;
}

.shopall a {
    padding: 10px 28px;
    transition: all .5s;
    max-height: 45px;
    background-color: #071F60;
    border: 1px solid #071F60;
    border-width: 1px;
    text-decoration: none;
    color: #fff;
}

.shopall a:hover {
    color: #071F60;
    background-color: #fff;
    border: 1px solid #071F60;
    border-width: 1px;
    transition: all .5s;
}

.shopall {
    margin-top: 30px;
}

.trustpiolet {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 11px 0;
    z-index: 1;
    margin: -21px auto;
    background: #fff;
    max-width: 306px;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(242, 242, 242, .08), 0px 8px 11px 0px #F2F2F2;
    box-shadow: 0 5px 4px #f2f2f214, 0 8px 11px #f2f2f2;
}

.trustpiolet img {
    background-color: #fff;
}

.fontt p {
    font-family: 'Open Sans', 'sans-serif' !important;

}

.explor {
    text-align: left;
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 45px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.expo {
    /* gap: 1px; */
    overflow: hidden;
    padding-bottom: 58px;
}

.expore {
    cursor: pointer;
    margin-right: 6px !important;
}

.expore:hover h4 {
    text-decoration: underline;
}

.expore:hover h5 {
    text-decoration: underline;
}

.expore:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.hid {
    overflow: hidden !important;
    margin-bottom: 26px;

}

.expore h5 {
    display: none;
    margin-bottom: 15px;
    font-size: 25px;
    line-height: 22px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.expore h4 {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 28px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.expore p {
    font-size: 15px;
    line-height: 23px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60;
}

@media screen and (max-width:1023px) {
    .expore h5 {
        display: block !important;
    }

    .expore h4 {
        display: none;
    }

    .contt {

        margin-left: 10px !important;
    }

    .expo {

        padding-bottom: 28px !important;
    }

    .hid img {
        height: 276px !important;
    }

    .fontt {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contt {
    margin-left: 50px;
    padding-top: 24px;
}

.imamarlef {
    margin-left: 60px !important;
}

.hid img {
    height: 410px;
}


/* custom slider css */

.bacimg {
    background-image: url(./Assests/slidimg.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
    height: 469px;
}

.bacimg2 {
    background-image: url(./Assests/slidimg2.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
    height: 469px;
}

.bacimg3 {
    background-image: url(./Assests/slidimg3.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
    height: 469px;
}


.bacimg4 {
    background-image: url(./Assests/slidimg4.webp);
    background-size: cover;
    background-position: center;
    z-index: 2;
    height: 469px;
}


.bacimg5 {
    background-image: url(./Assests/slidimg5.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    height: 469px;
}

@media screen and (min-width: 990px) {
    .bacimg {
        height: 469px;
    }

    .bacimg2 {
        height: 469px;
    }

    .bacimg3 {
        height: 469px;
    }

    .bacimg4 {
        height: 469px;
    }

    .bacimg5 {
        height: 469px;
    }
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}

.custom-dot-container {
    text-align: center;
    margin-top: 12px;
    width: 4px;
    font-weight: bold;
    color: #9ea6b6;
}

.custom-dot {
    width: 36px;
    height: 36px;
    display: block;
    margin: 0 auto;
}

.custom-dot-container::after {
    content: '';
    display: block;
    width: 50%;
    margin-left: 160px;
    margin-top: -40px;
    height: 2px;
    background-color: #aedcf4;
    border-radius: 50%;
}

.custom-dot-container:hover .dot-text {
    color: #071F60;
}

.slick-dots li.slick-active .dot-text {
    color: #071F60;
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    bottom: 7px !important;
    width: 50% !important;
    left: 230px;
}


.slick-dots li.slick-active .custom-dot {
    filter: grayscale(100%);
    transform: scale(1.2);
}

.slick-dots li {
    margin: 0 120px;
}

.hmainas {
    margin-bottom: 10px;
    font-size: 42px !important;
    font-family: 'Recoleta', serif;
    color: #071F60;
    padding-left: 0px !important;
}

.hmainn {
    margin-bottom: 10px;
    font-size: 22.7px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.hmainp {
    margin-bottom: 10px;
    font-size: 17px;
    font-family: 'Recoleta', serif;
    color: #071F60;
}

.padd {
    padding: 40px;
    padding-left: 90px;
}

.hmaina {

    margin-top: 30px;
}

.hmaina a {
    padding: 10px 28px;
    transition: all .5s;
    background-color: #071F60;
    border: 1px solid #071F60;
    border-width: 1px;
    font-family: 'Recoleta', serif;
    text-decoration: none;
    color: #fff;
}

.hmaina a:hover {
    color: #071F60;
    background-color: #fff;
    border: 1px solid #071F60;
    border-width: 1px;
    transition: all .5s;
}

.bacdispl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:990px) {
    .bacdispl {
        flex-direction: column-reverse !important;
    }

    .hmainn {
        font-size: 18px !important;
    }

    .hmainp {
        font-size: 15px !important;
    }

    .bacimg {
        justify-content: flex-end;
        margin-top: 68px !important;
    }

    .bacimg2 {
        justify-content: flex-end;
    }

    .bacimg3 {
        justify-content: flex-end;
        margin-top: 45px !important;
    }

    .bacimg4 {
        justify-content: flex-end;
        margin-top: 67.3px !important;
    }

    .hmainas {
        display: none;
    }

    .bacimg5 {
        justify-content: flex-end;
        margin-top: 21px !important;
    }

    .padd {
        /* padding:  20px !important; */
        padding-left: 10px !important;
        padding-top: 10px !important;
    }

    .prem {
        padding: 10px !important;
        padding-top: 10px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .malft {
        padding-left: 20px !important;
        padding-bottom: 15px !important;
    }

    .custom-dot-container {
        margin-top: -842px;
    }

    .slick-dots li {
        margin: 0 30px !important;
    }

}

@media screen and (max-width: 767px) {
    .custom-dot-container {
        margin-top: -932px !important;
    }

    .slick-dots {
        display: none !important;
    }

    .hmain1 {
        display: block !important;
        margin-bottom: 10px;
        font-size: 25px !important;
        font-family: 'Recoleta', serif;
        color: #071F60;
    }

    .humain1 vr {
        display: block !important;
        width: 100% !important;
        height: 2px;
        border-bottom: 1px solid #071F60;
        color: #071F60;
    }

    .humain1 {
        display: block !important;
        margin-bottom: 20px !important;
    }

    .umain1 {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.prem {
    padding: 50px;
}

.hmain1 {
    display: none;
}

.humain1 {
    display: none;
}

.slick-dots li {
    width: 185px !important;
    margin: 0px 10px !important;
}

.fonfam {
    font-family: 'Recoleta', serif;
}