.promain h1 {
    text-align: center;
    color: #071F60;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    font-family: 'Recoleta', 'serif';
    padding: 1rem;
}

.promain {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.promainaq {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 2;
}

.promainaq h3 {
    padding: 0px 8px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(244, 244, 244);
}

.promainaq h3:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    padding: 0px 8px;
}

.promainhead {
    position: sticky;
    width: 100%;
    top: 50px;
    background-color: #fff;
}

.promainhead p {
    background-color: #ffeff3;
    margin: 0px 0px 15px;
    text-align: center;
    padding: 14px 30px 10px;
    color: rgb(31, 45, 84);
    line-height: 17px;
    font-size: 20px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 90px;
    justify-content: space-between;
}

.mainsinside {
    flex: 1 1 calc(33.33% - 10px);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

@media (max-width: 1314px) {
    .mainsinside {
        flex: 1 1 calc(50% - 10px);
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 730px) {
    .mainsinside {
        flex: 1 1 calc(100% - 10px);
    }
}


.prodeliv {
    text-align: center;
    color: #071F60;
    font-weight: 600;
}

.proodeeliev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0px;
}

.prodelbutto {
    background-color: #fff;
    border: 1px solid #071F60;
    outline: none;
    color: #071F60;
    padding: 8px 20px;
    font-weight: 600 !important;
    opacity: .6;
}

.prodelbutto:hover {
    color: #071F60 !important;
    font-weight: 600 !important;
    opacity: 1 !important;
}

.prodelbuttooiu {
    background-color: #071F60;
    border: 1px solid #071F60;
    outline: none;
    color: #fff;
    padding: 8px 20px;
    font-weight: 600 !important;
}

.profobto {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px 5px;
    align-items: center;
    max-width: 250px;
    margin: auto;
}

.proaddtbton {
    margin-right: 9px;
    font-size: 15px;
    padding: 10px 28px;
    background-color: #071F60;
    border: 1px solid #071F60;
    color: #fff;
    cursor: pointer;
}

.mainpew {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    cursor: pointer;
    font-family: 'Recoleta', 'serif';
    color: #071F60;
}

.mainstrooi {
    margin: 16px 0px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #071F60;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.promafle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 24px;
}

@media screen and (max-width:990px) {
    .prodadd {
        gap: 15px !important;
    }

    .promafle {
        padding: 10px 10px 10px 10px !important;
    }
}

.prodadd {
    display: flex;
    align-items: baseline !important;
    gap: 30px;
}

.prodadd p {
    color: #071F60;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
}

.bacaas {
    font-size: max(1em, 12px);
    line-height: max(1em, 20px);
    color: rgb(23, 23, 23);
    font-weight: 700;
    background: none;
    text-align: center;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.poslasfs {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid rgb(183, 183, 183);
}

.butonasdsa {
    background-color: #071F60;
    border: 1px solid #071F60;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    padding: 8px 20px;
}

.butonasdsa:hover {
    color: #071F60;
    background-color: #fff;
    border: 1px solid #071F60;
}

.propopt {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    font-weight: 500;
}

.propoptopit {
    margin: 1rem 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.propoptopit button {
    font-size: 13px;
    color: #071F60;
    opacity: 0.56;
    padding: 10px 20px;
    border: 2px solid #071F60;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.propoptopit button.active {
    background-color: #071F60;
    color: #fff;
    opacity: 1;
    font-family: 'Open Sans', 'sans-serif' !important;
    border-color: #071F60;
}

.propoptopit button:not(.active):hover {
    color: #071F60;
    opacity: 1;
}