
.refdev a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60 !important;
}
.refdev{
    padding: 0px 49px;
}
.refmaindev{
    max-width: 812px;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-top: 21px;
    padding-bottom: 21px;

}
.refmaindev h2{
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 23px;
    margin-top: 23px;
    font-family: 'Recoleta', 'serif';
    color: #071F60;
}
.refmaindev h3{
    font-size: 15px;
    line-height: 23px;
    color: #071F60;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif' !important;
    margin-bottom: 23px;
    margin-top: 23px;
}
.refmaindev h4{
    font-size: 15px;
    line-height: 23px;
    color: #071F60;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif' !important;
    margin-bottom: 23px;
    margin-top: 23px;
}
.refmaindev strong{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: lowercase;
    color: #071F60;
    font-family: 'Recoleta', 'serif';
}
.refmaindev h4 a{
    text-decoration: underline;
    font-weight: 900 !important;
    color: #071F60;
}
@media screen and (max-width:990px) {
    .refmaindev{
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .refdev{
        padding: 0px 15px;
    }
}


















































































































































