.backblog {
    /* background-color: url(./Assests/blogbackgr.png); */
    background: linear-gradient(0deg, rgba(211, 211, 211, 0.4), rgba(211, 211, 211, 0.4)), url(./Assests/blogbackgr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center;
}

.blogm {
    justify-content: flex-start;
    align-items: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.bloi {
    max-width: 810px;
    margin: auto;
    margin-left: 150px;
}

.bloi h1 {
    font-size: 42px;
    line-height: 45px;
    font-family: 'Recoleta', 'serif';
    color: #071F60;
    margin-bottom: 10px;
}

.bloi p {
    font-size: 16px;
    line-height: 27px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60;
    margin-bottom: 15px;
    font-weight: 600;
}

.bloginpbutt input {
    padding: 13px 10px;
    font-size: 15px;
    line-height: 23px;
    font-family: 'Open Sans', 'sans-serif' !important;
    font-weight: 600;
    color: #071F60 !important;
    width: 83%;

    border: none !important;
    outline: none !important;
}

.bloginpbutt input::placeholder {
    opacity: 1;
    color: #071F60 !important;

    font-family: 'Open Sans', 'sans-serif' !important;
}

.aboutform {
    margin-bottom: 30px;

}

.bloginpbutt button {
    border: 1px solid #071F60;
    background-color: #071F60;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #fff;
    padding: 12px 28px;
    transition: all .5s;
    margin-left: 10px;
    width: 110px;
    margin-top: 1px;
}

.nmensablog {
    display: flex;
    align-items: center;
    margin-left: 50px;
    padding-top: 20px;
}

.nmensabloga {
    text-decoration: none;
    opacity: .2;
    color: #071F60;
}

.nmensablog a {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60 !important;
}

.unlibol:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}


@media screen and (max-width:990px) {
    .bloi {
        margin: 50px 15px 50px 15px !important;
    }

    .bloi p {
        font-size: 14.3px !important;
        line-height: 23px !important;
        font-weight: 500;
    }

    .bloi h1 {
        font-size: 35px !important;
    }

    .blogm {
        min-height: 400px;
    }

    .nmensablog {
        margin-left: 15px !important;
    }

    .bloginpbutt input {
        width: 80% !important;
    }

    .btnanoutgya {
        display: none !important;
    }

    .btnanoutblo {
        display: block !important;
    }

    .bloginpbutt button {
        padding: 12px 20px;
        margin-left: 8px;
        width: 15%;
        margin-top: 1px;
    }

    .bloginpbutt {
        display: flex;
        align-items: center;
    }
}

.btnanoutblo {
    display: none;
}

.blodsl1h1 h1 {
    text-align: center;
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 30px;
    font-family: 'Recoleta', 'serif';
    color: #071F60;
}

.blosli1stydi {
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.blosli1stydi img {
    width: 69px;
    height: 69px;
    margin: auto;
    margin-bottom: 20px;
}

.blosli1stydich h2 {
    margin-bottom: 15px !important;
    font-size: 20px;
    line-height: 23px;
    color: #071F60;
    text-align: center;
    font-family: 'Recoleta', 'serif';
}

.blosli1stydich p {
    margin-bottom: 15px !important;
    font-size: 15px;
    line-height: 23px;
    color: #071F60;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.blogvid {
    padding-left: 70px;
    padding-right: 70px;
}

.blodvidsh h1 {
    margin-bottom: 30px !important;
    font-size: 35px;
    line-height: 23px;
    color: #071F60;
    text-align: center;
    font-family: 'Recoleta', 'serif';
}

.blogssali h1 {
    margin-bottom: 30px !important;
    font-size: 35px;
    line-height: 23px;
    color: #071F60;
    text-align: center;
    font-family: 'Recoleta', 'serif';
}

.blogdifferentsli h6 {
    opacity: .4;
    margin-bottom: 15px;
    font-size: 15px !important;
    line-height: 23px;
    color: #071F60;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.blogdifferentsli h1 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    color: #071F60;
    font-family: 'Recoleta', 'serif';
}

.blogdifferentsli h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 23px;
    color: #071F60;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.blogdifferentsli a {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 23px;
    color: #071F60 !important;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.bogslimpaddom {
    padding-left: 165px;
    padding-right: 165px;
}
.bogslimpadd {
    padding-left: 165px;
}

@media screen and (max-width:990px) {
    .bogslimpadd {
        padding-left: 15px !important;
    }
    .bogslimpaddom {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .blogvid {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }


    .blodslimaiashop {
        padding-top: 30px !important;
        padding-bottom: 50px !important;
    }

    .clbloasg {
        justify-content: flex-start;
        align-items: center;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 615px 0px !important;
    }

    .bloglassec {
        background-image: url(./Assests/baouslimilk.webp) !important;
        background-position: center !important;
        background-size: 300px;
    }

    .clgyasas {
        background-image: url(./Assests/baouslimilk.webp) !important;
        background-position: center !important;
        background-size: cover;
    }
}

.clbloasg {
    justify-content: flex-start;
    align-items: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.blodslimaiashop {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.bloglassec {
    background-image: url(./Assests/blogmilkbackg.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 700px;
}

@media screen and (max-width:990px) {

    .doulvids {
        width: 100% !important;
    }

    .doulvidess iframe {
        height: 180px !important;
        width: 98% !important;
    }

    .doulvids {
        margin-right: 30px !important;
    }

    .doulvids iframe {
        height: 180px !important;
        width: 98% !important;
    }

    .aslpoi {
        margin-top: -298px !important;
    }
}

.doulvids {
    margin-right: 10px;
}

.doulvidess iframe {
    height: 400px;
    width: 100%;
}


.doulvids iframe {
    height: 400px;
    width: 100%;
}


.btnaawq {
    position: absolute;
    right: 2px;
    top: 2px;
}

.blogbutt input {
    padding: 13px 10px;
    font-size: 15px;
    line-height: 23px;
    font-family: 'Open Sans', 'sans-serif' !important;
    font-weight: 600;
    color: #071F60 !important;
    width: 100%;
    border: 2px solid #071F60 !important;
    outline: none !important;
}

.blogbutt input::placeholder {
    opacity: 1;
    color: #071F60 !important;

    font-family: 'Open Sans', 'sans-serif' !important;
}


.blogbutt button {
    border: none;
    background-color: #fff;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60;
    padding: 10px 18px !important;
    transition: all .5s;
    margin-left: 10px;
}

.shohgpseeallbut {
    padding-top: 40px;
    text-align: center;
}

.shohgpseeallbut a {
    text-decoration: none;
    border: 1px solid #071F60;
    color: #071F60;
    background-color: #F7DADF;
    text-align: center;
    transition: all .5s;
    padding: 10px 18px;
}

.shohgpseeallbut a:hover {
    border: 1px solid #071F60;
    color: #fff;
    background-color: #071F60;
}

.shopallmain {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nmanshop {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 50px;
    top: 18%;
}

.nmensaasho {
    text-decoration: none;
    opacity: .2;
    color: #071F60;
}

.nmanshop a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif' !important;
    color: #071F60 !important;
}

.stshoplef {
    max-width: 464px;
    margin: auto;
}

.stshoplef h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
    color: #071F60;
    font-family: 'Recoleta', 'serif';
}

.stshoplef p {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #071F60;
    font-family: 'Open Sans', 'sans-serif' !important;
}

@media screen and (max-width:990px) {
    .shopallmain {
        flex-direction: column !important;
    }

    .stshoplef h1 {
        font-size: 35px !important;
        line-height: 48px;
        padding-top: 40px;
    }

    .stshoplef {
        padding-left: 15px;
    }

    .nmanshop {
        display: flex;
        align-items: center;
        position: absolute;
        margin-left: 15px !important;
        top: 18%;
    }

    .stshoplef p {
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 50px;
    }
    .imamarlef{
        max-width: 60px !important;
        margin: auto;
    }
}
.imamarlefqwmkl{
    max-width: 70px;
    margin: auto;
    margin-bottom: 20px;
}
.imamarlef{
    max-width: 130px;
    margin: auto;
    margin-bottom: 20px;
}
.shoaii {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 50px;
    justify-content: space-between;
}

.shopalmaii {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* justify-content: space-evenly; */
}

.shapal {
    flex: 1 1 1 calc(24% - 10px);
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center !important;
    height: 445px;
}

.shapal div {
    display: flex;
    flex-direction: column;
}

.shapal img {
    max-width: 100%;
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.shapal p {
    margin: 5px 0;
}

@media (max-width: 990px) {
    .shapal {
        flex: 1 1 calc(50% - 10px);
        height: 335px;
        margin-bottom: 0px;
    }

    .shopalmaii {
        padding-left: 13px;
        padding-right: 13px;
    }
    .shapal img {
        height: 180px;
    }
    .shoaii {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 30px;
    }

    .buoidecooi p {
        display: none;
    }

    .buoidecooi span {
        display: block !important;
    }
    .disnobpkl{
        display: block !important;
    }
    .imgsedown p {
        font-size: 12px !important;
    }

}

.buoidecooi span {
    display: none;
}

.filselaccag {
    border: none !important;
    outline: none !important;
    background-color: #FDFBF9;
    padding-left: 5px;
    cursor: pointer;
}

.filselaccag:hover {
    text-decoration: underline;
}

.imgsedown {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #fff;
}

.imgsedown p {
    text-align: center;
    font-size: 15px;
    color: #071F60;
    font-weight: 600;
    margin-bottom: 0px !important;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.buodeco {
    display: flex !important;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    flex-direction: row !important;
    margin-top: 15px;

}

.buoideco {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    gap: 15px;
    flex-direction: row !important;
    border: 1px solid;
    padding: 8px 20px;
}

.buoidecooi {
    border: 1px solid;
    padding: 11px 28px;
    transition: all 0.3s;
    background-color: #071F60;
    color: #fff;
    font-size: 13px;
}

.buoidecooi p {
    font-size: 13px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}
.asshapal .disnobpkl{
display: none;
}
.asshapal:hover .disnobpkl{
    display: block ;
}
.fontt{
    padding: 10px;
}








